# Homework 1, Learning Python
Please refer to https://www.learnpython.org/ and follow the following Tutorials
- From Learn the Basics
 - Hello, World!
 - Variables and Types
 - Lists
 - Basic Operators
 - String Formatting
 - Basic String Operations
 - Conditions
 - Loops
 - Functions
 - Dictionaries

- From Data Science Tutorials
 - Numpy Arrays
 - Pandas Basics

# Homework 2, Explaratory Data Analysis
- Load "titanic_train.csv" into a pandas dataframe (as in lec1-7-20190412)
- Calculate how many male and female passengers were on-board of titanic.
- Calculate how many male and female passengers survived
- Compare survival ratio of male and female survival.
- Calculate survival ratio based on class of travel (Pclass)

Tip: Follow the code in lec1-7-20190412

# Homework 3, The backpack problem.
- based on lec1-1-20190412 we want to solve the backpack problem in the basic form.
- We want to iterate over a list of items, until the back pack is full.
- objective is to load a diverse set of items until the backpack has a maximum weight of 15 kilos.
- Data file is in backpack.csv
- I have created the naive solution

In [24]:
#Loading data to pandas
import pandas as pd
import numpy as np
df = pd.read_csv('backpack.csv', header=None)
df

                          0     1
0  Daily ration of dry food  1300
1               daily water  3000
2                energy bar   150
3                      tent  1200
4                  mattress   250
5                SLR camera  1200
6         mirrorless camera   250
7               lens: 12-24   800
8               lens: 24-70   800
9              lens: 70-200  1200

In [39]:
#converting data to numpy
data = np.array(df.values)
(data, data.shape)

(array([['Daily ration of dry food', 1300],
        ['daily water', 3000],
        ['energy bar', 150],
        ['tent', 1200],
        ['mattress', 250],
        ['SLR camera', 1200],
        ['mirrorless camera', 250],
        ['lens: 12-24', 800],
        ['lens: 24-70', 800],
        ['lens: 70-200', 1200]], dtype=object), (10, 2))

Creating a dictionary as reference to objects in a backpack. Row index (axis = 0), represents numerical reference to an item. for instance data[1] = ['daily water', 3000], so index of 'daily water = 1'. Similarly index of 'Daily ration of food' = 0. 
This is similar to a phone book, where you can find someone's phone number from her name. In this sort of phone book, you can also find someone's name from her phone number.

back pack is a list of items. In our case the data structure for backpack is ['item id', 'quantity'], for instance [1, 2] means 2 X 'daily water' or [3, 1] means 1 tent.

In [40]:
#creating a backpack with item id between 0 and 9. Please refer to lec1-3-20190412
backpack = np.arange(10).reshape((10,1)) #changing the shape so we have a vertical and 1-dimensional array
backpack.shape

(10, 1)

In [41]:
# Adding a column filled with zero to our backpack to maintain quantity of items.
# np.hstack stacks two arrays horizontally (Please refer to lec1-3-20190412)
backpack = np.hstack((backpack, np.zeros_like(backpack)))
(backpack, backpack.shape)

(array([[0, 0],
        [1, 0],
        [2, 0],
        [3, 0],
        [4, 0],
        [5, 0],
        [6, 0],
        [7, 0],
        [8, 0],
        [9, 0]]), (10, 2))

We now want to keep an rolling sum of items inside the backpack. data[i][1] is the reference for weight of object i. For instance, 
- data[0][1] is 3000, meaning that 1 x daily water weights 3000 grams
- data[1][1] is 3000, meaning that 1 x energy bar weights 150 grams
- data[2][1] is 1200, meaning that 1 x tent water weights 1200 grams

In [42]:
total_weight = 0
i = 0 #index of items in the backpack as well as reference to the weight matrix (data)

# Loopoing over items and adding them to the backpack until weight is less than or equal 1500
while total_weight <= 15000:
    
    #It is possible as we add a new item, the weight would exceed 1500. in this case, we just skip out of the loop
    if total_weight + data[i][1] > 15000:
        break
        
    # Adding to the quantity of the items that are associated with the item index.
    backpack[i][1] += 1 

    # increasing the rolling sum with the weight of an item from the data array I loaded from the csv file
    # for instance  after increasing quantity of item 0, water, I will add its weigtht data[0][1], 3000
    total_weight += data[i][1] 
    
    # Moving to the next item by increasing the index by 1
    i += 1
    
    #  If index reaches 10, since we have only 10 items (indexed 0-9), we know that we have to go back to the
    # first item or item = 0
    if i == 10:
        i = 0

In [43]:
# Printing content of the backpack
backpack

array([[0, 2],
       [1, 2],
       [2, 2],
       [3, 1],
       [4, 1],
       [5, 1],
       [6, 1],
       [7, 1],
       [8, 1],
       [9, 1]])

In [44]:
# printing content of the backpack with their text description
for i in range(10):
    print(data[i][0], backpack[i][1])

Daily ration of dry food 2
daily water 2
energy bar 2
tent 1
mattress 1
SLR camera 1
mirrorless camera 1
lens: 12-24 1
lens: 24-70 1
lens: 70-200 1

# Homework 3
We now have 2 x tents, but not enough water. 
In order to solve this problem, we can add maximum and minimum columns to our data matrix. Minimum indicate minimum quantity from an item, For instance we would need minimum of 3 for daily water. Maximum indicates how many of an item at most we should take, for instance we shall need exactly 1 tent, thus both maximum and minimum are 1.
An easy way to add a column to the end of a python list or nd array is as follows.

In [48]:
a = np.array([3,3,0,1,1,0,1,1,1,0])
data[:, -1] = a
data

array([['Daily ration of dry food', 3],
       ['daily water', 3],
       ['energy bar', 0],
       ['tent', 1],
       ['mattress', 1],
       ['SLR camera', 0],
       ['mirrorless camera', 1],
       ['lens: 12-24', 1],
       ['lens: 24-70', 1],
       ['lens: 70-200', 0]], dtype=object)

## Bonus
instead of adding the column to numpy, add it to the pandas data frame and save the result onto a csv file.
I have added one column to dataframe. You can add the second one and save the dataframe as a csv file.
You perhaps need to google how to save a data frame as a csv file

In [54]:
nice_data = pd.read_csv('backpack.csv', names=["item", "weight"])
nice_data

                       item  weight
0  Daily ration of dry food    1300
1               daily water    3000
2                energy bar     150
3                      tent    1200
4                  mattress     250
5                SLR camera    1200
6         mirrorless camera     250
7               lens: 12-24     800
8               lens: 24-70     800
9              lens: 70-200    1200

In [55]:
nice_data['min'] = [3,3,0,1,1,0,1,1,1,0]
nice_data

                       item  weight  min
0  Daily ration of dry food    1300    3
1               daily water    3000    3
2                energy bar     150    0
3                      tent    1200    1
4                  mattress     250    1
5                SLR camera    1200    0
6         mirrorless camera     250    1
7               lens: 12-24     800    1
8               lens: 24-70     800    1
9              lens: 70-200    1200    0